In [1]:
s = 'First line. \nSecond line.'
print(s)

First line.
Second line.

In [2]:
s

'First line. \nSecond line.'

In [3]:
print('C:\some\name')

C:\some
ame

In [4]:
print(r'C:\some\name')

C:\some\name

In [16]:
# Use '\' to remove the line
print("""\
Usage: thingy [OPTIONS]
      -h                    Display this usage message
      -H hostname           Hostname to connect to

      hello
""")

Usage: thingy [OPTIONS]
      -h                    Display this usage message
      -H hostname           Hostname to connect to
      hello

In [17]:
3 * 'un' + 'ium'

'unununium'

In [18]:
'py' 'thon'

'python'

In [20]:
# must be ont the same line
text = ('Put several strings within parentheses '
        'to have them joined together')
text

'Put several strings within parentheses to have them joined together'

In [23]:
'Put several strings within parentheses ' 'to have them joined together'

'Put several strings within parentheses to have them joined together'

In [26]:
prefix = 'Py'
prefix 'thon'

SyntaxError: invalid syntax (2247375812.py, line 2)

In [27]:
('un' * 3) 'ium'

SyntaxError: invalid syntax (3357839946.py, line 1)

In [28]:
word = 'Python'
word[-0]

'P'

In [29]:
# immutable
word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [33]:
name = "Jane"
num = 4
"Hello, %s and %d" % (name, num)

'Hello, Jane and 4'

In [35]:
"Hello, %(name)s! You're %(age)s years old." % {"name" : "Jane", "age" : 25}

"Hello, Jane! You're 25 years old."

In [39]:
"Balance: $%.3f" % 5425.9295

'Balance: $5425.930'

In [44]:
print("Name: %s\nAge: %5s" % ("John", 35))

Name: John
Age:    35

In [47]:
"The personal info is: %s" % (("John", 35),)

"The personal info is: ('John', 35)"

## The str.format() Method

In [48]:
name = "Jane"
age = 25

"Hello, {}! You're {} years old.".format(name, age)

"Hello, Jane! You're 25 years old."

In [50]:
"Hello, {1}! You're {0} years old.".format(age, name)

"Hello, Jane! You're 25 years old."

In [53]:
"Hello, {name}! You're {age} years.".format(name="Caleb", age=50)

"Hello, Caleb! You're 50 years."

In [55]:
# Unpacking from a dictionary
person = {"name" : "Kofi", "age" : 0.6}

"Hello, {name}! You're {age} years old.".format(**person)

"Hello, Kofi! You're 0.6 years old."

In [77]:
"Balance: ${:.2f}".format(5425)

'Balance: $5425.00'

In [78]:
"{:=^30}".format("Centered string")

'=======Centered string========'

## F-Strings in Python

In [79]:
name = "Jane"
age = 25

f"Hello, {name}! You're {age} years old."

"Hello, Jane! You're 25 years old."

In [80]:
f"{2 * 21}"

'42'

In [81]:
name = "Jane"
age = 25

f"Hello, {name.upper()}! You're {age} years old"

"Hello, JANE! You're 25 years old"

In [88]:
f"{[2 ** n for n in range(3, 9)]}"

'[8, 16, 32, 64, 128, 256]'