In [1]:
s = 'First line. \nSecond line.'
print(s)

First line.
Second line.

In [2]:
s

'First line. \nSecond line.'

In [3]:
print('C:\some\name')

C:\some
ame

In [4]:
print(r'C:\some\name')

C:\some\name

In [16]:
# Use '\' to remove the line
print("""\
Usage: thingy [OPTIONS]
      -h                    Display this usage message
      -H hostname           Hostname to connect to

      hello
""")

Usage: thingy [OPTIONS]
      -h                    Display this usage message
      -H hostname           Hostname to connect to
      hello

In [17]:
3 * 'un' + 'ium'

'unununium'

In [18]:
'py' 'thon'

'python'

In [20]:
# must be ont the same line
text = ('Put several strings within parentheses '
        'to have them joined together')
text

'Put several strings within parentheses to have them joined together'

In [23]:
'Put several strings within parentheses ' 'to have them joined together'

'Put several strings within parentheses to have them joined together'

In [26]:
prefix = 'Py'
prefix 'thon'

SyntaxError: invalid syntax (2247375812.py, line 2)

In [27]:
('un' * 3) 'ium'

SyntaxError: invalid syntax (3357839946.py, line 1)

In [28]:
word = 'Python'
word[-0]

'P'

In [29]:
# immutable
word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [33]:
name = "Jane"
num = 4
"Hello, %s and %d" % (name, num)

'Hello, Jane and 4'

In [35]:
"Hello, %(name)s! You're %(age)s years old." % {"name" : "Jane", "age" : 25}

"Hello, Jane! You're 25 years old."

In [39]:
"Balance: $%.3f" % 5425.9295

'Balance: $5425.930'

In [44]:
print("Name: %s\nAge: %5s" % ("John", 35))

Name: John
Age:    35

In [47]:
"The personal info is: %s" % (("John", 35),)

"The personal info is: ('John', 35)"

## The str.format() Method

In [48]:
name = "Jane"
age = 25

"Hello, {}! You're {} years old.".format(name, age)

"Hello, Jane! You're 25 years old."

In [50]:
"Hello, {1}! You're {0} years old.".format(age, name)

"Hello, Jane! You're 25 years old."

In [53]:
"Hello, {name}! You're {age} years.".format(name="Caleb", age=50)

"Hello, Caleb! You're 50 years."

In [55]:
# Unpacking from a dictionary
person = {"name" : "Kofi", "age" : 0.6}

"Hello, {name}! You're {age} years old.".format(**person)

"Hello, Kofi! You're 0.6 years old."

In [77]:
"Balance: ${:.2f}".format(5425)

'Balance: $5425.00'

In [78]:
"{:=^30}".format("Centered string")

'=======Centered string========'

In [27]:
open_string = "Sammy loves {}."
print(open_string.format("open source"))

Sammy loves open source.

## F-Strings in Python

In [79]:
name = "Jane"
age = 25

f"Hello, {name}! You're {age} years old."

"Hello, Jane! You're 25 years old."

In [80]:
f"{2 * 21}"

'42'

In [81]:
name = "Jane"
age = 25

f"Hello, {name.upper()}! You're {age} years old"

"Hello, JANE! You're 25 years old"

In [88]:
f"{[2 ** n for n in range(3, 9)]}"

'[8, 16, 32, 64, 128, 256]'

In [90]:
format(5425.9292, ".2f")

'5425.93'

In [92]:
balance = 5425.9292

f"Your balance is: ${balance:.2f}"

'Your balance is: $5425.93'

In [93]:
heading = "Centered string"

F"{heading:=^30}"

'=======Centered string========'

In [101]:
integer = -1234567

f"Comma as thousand separators: {integer:,}"

'Comma as thousand separators: -1,234,567'

In [103]:
separator = '_'

f"User's own separator: {integer:{separator}}"

"User's own separator: -1_234_567"

In [106]:
floating_point = 1234567.8976

f"Comma as thousand separators and two decimals: {floating_point:,.2f}"

'Comma as thousand separators and two decimals: 1,234,567.90'

In [113]:
date = (9, 6, 2023)
f"Date: {date[0]:02}-{date[1]:02}-{date[2]}"

'Date: 09-06-2023'

In [140]:
from datetime import datetime

date = datetime(2024, 4, 1)
f"Date: {date:%a/%m/%d-%Y-%H-%p-%Z-%j-%U/%c}"

'Date: Mon/04/01-2024-00-AM--092-13/Mon Apr  1 00:00:00 2024'

In [142]:
f"Date:{date:%x{separator}%X}"

'Date:04/01/24_00:00:00'

## Using and Object's String Representations in F-Strings

In [143]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def __str__(self):
        return f"I'm {self.name}, and I'm {self.age} years old."
    
    def __repr__(self) -> str:
        return f"{type(self).__name__}(name='{self.name}', age={self.age})"

In [148]:
jane = Person("Jane Doe", 25)

f"{jane!s}"

"I'm Jane Doe, and I'm 25 years old."

In [149]:
f"{jane!r}"

"Person(name='Jane Doe', age=25)"

In [152]:
# Current value of a variable 
variable = "Some mysterious value"

print(f"{variable = }")

variable = 'Some mysterious value'

## for Statements

In [4]:
users = {"Hans": "active", "Eleonore": "inactive", "chinese": "active"}
print(users)

# iterate over a copy
for user, status in users.copy().items():
    if status == "inactive":
        del users[user]

print(users)

# create a new collection
active_users = {}

for user, status in users.items():
    if status == "active":
        active_users[user] = status

print(active_users)

{'Hans': 'active', 'Eleonore': 'inactive', 'chinese': 'active'}
{'Hans': 'active', 'chinese': 'active'}
{'Hans': 'active', 'chinese': 'active'}

## range()

In [5]:
a = ["Mary", "had", "a", "little", "lamb"]
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [13]:
# break statements
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, "equals", x, "*", n//x)
            break
    else:
        print(n, "is a prime number")

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

## `match` Statements

In [ ]:
def http_error(status):
    match status:
        case 400:
            return "Bad request"
        case 404:
            return "Not found"
        case 418:
            return "I'm a teapot"
        case _:
            return "Something's wrong with the internet"

## Defining Functions

In [23]:
def fib(n):
    """"Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=" ")
        a, b = b, a+b
    print()

fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [24]:
fib

In [26]:
print(fib(0))

None